{{#unless isSearch}}
<div class="row align-items-center pb-5">
    {{!-- Item --}}
    <div class="col-auto">
        <p class=" my-auto">{{count}}/3 items</p>
    </div>
    {{!-- Pagination --}}
    <div class="col-auto ms-auto">
        <ul class="pagination justify-content-end my-auto">
            {{!-- Prev --}}
            {{#if disablePrev}}
            <li class="page-item"><a class="btn page-link disabled">Previous</a></li>
            {{else}}
            <li class="page-item"><a class="btn page-link" href="/employees/list/{{decrease page}}">Previous</a></li>
            {{/if}}
            {{!-- Paginate --}}
            {{#each start}}
            <li class="page-item"><a class="btn page-link" href="/employees/list/{{this}}">{{this}}</a></li>
            {{/each}}
            <li class="page-item"><a class="btn page-link active" href="/employees/list/{{page}}">{{page}}</a></li>
            {{#each end}}
            <li class="page-item"><a class="btn page-link" href="/employees/list/{{this}}">{{this}}</a></li>
            {{/each}}
            {{!-- Next --}}
            {{#if disableNext}}
            <li class="page-item"><a class="btn page-link disabled">Next</a></li>
            {{else}}
            <li class="page-item"><a class="btn page-link" href="/employees/list/{{increase page}}">Next</a></li>
            {{/if}}
        </ul>
    </div>
</div>
{{/unless}}